 <nav class="navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand text-light text-white" href="/fluffy-happiness/">{{ page.title | escape }}</a>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Open navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi icon-sprite fs-1" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasNavbarLabel">{{ page.title | escape }}</h2>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p class="h5 mb-3">{{ page.description | escape }}</p>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown Menu</a>
                        <div class="dropdown-menu dropdown-menu-light">
                            <a class="dropdown-item " href="/fluffy-happiness/01_2022.html">Item 1</a>
                            <a class="dropdown-item " href="/fluffy-happiness/02_1910.html">Item 2</a>
                            <a class="dropdown-item " href="/fluffy-happiness/03_10am.html">Item 3</a>
                       </div>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link active" href="/fluffy-happiness/">Home</a>
                    </li>
            
                    <li class="nav-item">
                        <a class="nav-link" href="/fluffy-happiness/browse.html">Browse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fluffy-happiness/about.html">About</a>
                    </li></ul>
           
                <div class="mt-5">
                    <a href="https://cdil.lib.uidaho.edu/" target="_blank" rel="noopener">
                        <img class="img-fluid sidebar-nav-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSX2AJa2ypzq-iR7ZSCXZiB1h_yp2Wg9o9GIw&s" title="" alt="A book" >
                    </a>
                </div>    
            </div>
        </div>
    </div>
</nav>
                
