 <nav class="navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-dark text-white" href="/fluffy-happiness/">Fire Lines</a>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Open navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi icon-sprite fs-1" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasNavbarLabel">Fire Lines</h2>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p class="h5 mb-3">Exploring the Legacy of 1910's Great Fire in the Northwest</p>
                <p><small>20th century fire policy tried to draw a hard line between humans and fire. Indigenous knowledge is leading 21st century science to a deeper understanding of fire’s kinship with human communities. A project of the Confluence Lab.</small></p>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Fire Lines</a>
                        <div class="dropdown-menu dropdown-menu-dark">
                            <a class="dropdown-item " href="/fluffy-happiness/00_firelines.html">Fire Lines</a>
                            <a class="dropdown-item " href="/fluffy-happiness/01_2022.html">1. 2020</a>
                            <a class="dropdown-item " href="/fluffy-happiness/02_1910.html">2. 1910</a>
                            <a class="dropdown-item " href="/fluffy-happiness/03_10am.html">3. 10 a.m.</a>
                            <a class="dropdown-item " href="/fluffy-happiness/04_three_fires.html">4. Three Fires</a>
                            <a class="dropdown-item " href="/fluffy-happiness/05_two_brains.html">5. Two Brains</a>
                            <a class="dropdown-item " href="/fluffy-happiness/06_archival_silence.html">6. Archival Silence</a>
                            <a class="dropdown-item " href="/fluffy-happiness/07_clearings.html">7. Clearings</a>
                            <a class="dropdown-item " href="/fluffy-happiness/08_references.html">Sources</a>
                       </div>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link active" href="/fluffy-happiness/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fluffy-happiness/00_firelines.html">Read</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fluffy-happiness/browse.html">Browse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fluffy-happiness/about.html">About</a>
                    </li></ul>
                 <div class="mt-5">
                    <a href="https://www.theconfluencelab.org/" target="_blank" rel="noopener">
                        <img class="img-fluid sidebar-nav-image" src="/fluffy-happiness/assets/img/confl-lab-logo-rev-white.png" title="The Confluence Lab" alt="Confluence home" >
                    </a>
                </div>
                <div class="mt-5">
                    <a href="https://cdil.lib.uidaho.edu/" target="_blank" rel="noopener">
                        <img class="img-fluid sidebar-nav-image" src="https://cdil.lib.uidaho.edu/assets/img/logo.png" title="Center for Digital Inquiry and Learning (CDIL)" alt="CDIL home" >
                    </a>
                </div>    
            </div>
        </div>
    </div>
</nav>
                
