/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

// off canvas nav
.sidebar-nav-image { max-height: 2.25rem; }
// footer
.footer-logo { height: 2rem; }

// body font
body { 
    font-family: 'Edu SA Beginner', serif;
    font-weight: 300;
}

// fancy font
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    font-family: 'Berkshire Swash', serif;
    font-weight: 600;
}

// essay styles
.essay-title {
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.offcanvas {
position: fixed;
bottom: 0;
z-index: 1045;
display: flex;
flex-direction: column;
max-width: 100%;
visibility: hidden;
background-color: #ff6091;
background-clip: padding-box;
outline: 0;
transition: transform .3s ease-in-out;
}

.bg-dark {
    background-color: #edb277!important
}

.card-body {
    color: #ffffff
}

.card {
    background-color: #edb277
}

.btn-outline-primary:hover {
color: #fff;
background-color: var(--bs-pink);
border-color: var(--bs-pink);
}

.btn-secondary {
color: #fff;
background-color: #af4bbd;
border-color: #eba9f5;
}

.btn-secondary.active {
    background-color: var(--bs-warning);
    border-color: var(--bs-orange);
    color: #fff;
}
        
.next-buttons {
    margin-top: 3rem;
    margin-bottom: 10rem;
}
