---
# Default home page with boxes providing collection stats
layout: page
---
<style>
   .col-md-5 py-3 px-5 text-white bg-dark bg-opacity-75 rounded {
               
</style>
<div id="home-banner" class="container-fluid mt-3 mb-5">
            <div id="title-box" class="py-3 px-5 text-white bg-dark bg-opacity-75 rounded">
                <h1 class="display-2">{{ site.title }}</h1>
                <p class="mb-0">{{ site.description }}</p>
            </div>
            <a id="toc-box" class="col-md-7 py-3 px-5 display-6 fs-2 text-white bg-dark bg-opacity-75 rounded" href="/fluffy-happiness/browse.html">Browse the Collection &raquo;</a>     
        </div>

{%- assign items = site.data[site.metadata] | where_exp: 'item', 'item.objectid != nil' -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/carousel.html title="Sample Items" height="300" %}
  
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}

    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>
